@font-face {
    font-family: 'Press Start 2P';
    src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 12px;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

.spacer {
    margin: 48px;
}

.website-title {
    text-align: center;
    line-height: 72px;
    font-size: 32px;
}

.robot-container {
    text-align: center;
    border: dashed 8px;
    padding: 84px;
    margin: 0 15% 0 15%;
}

.button {
    background-color: rgb(255 255 255 / 30%);
    border: dashed 4px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(0 0 0 / 30%);
}

.button:active {
    position: relative;
    top: 1px;
}

.clean-button {
    padding: 12px;
    margin-top: 42px;
    font-size: 20px;
}

.add-button {
    padding: 4px;
    font-size: 12px;
}

.robot-character {
    font-size: 68px;
}

.robot-img {
    height: 100px;
    filter: drop-shadow(2px 2px 0 white)
    drop-shadow(-2px 2px 0 white)
    drop-shadow(2px -2px 0 white)
    drop-shadow(-2px -2px 0 white);
}

.message {
    text-align: center;
    padding: 12px;
}
