@font-face {
    font-family: 'Press Start 2P';
    src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 24px;
    background: #03041c;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

.App {
    text-align: center;
    border: dashed 8px;
    padding: 84px;
}

.clean-button {
    background-color: #ef54cf;
    border: dashed 3px;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 8.9px 14px;
    margin: 10px 7px 0 7px;
}

.clean-button:hover {
    background-color: #9149ec;
}

.clean-button:active {
    position: relative;
    top: 1px;
}

.robot-character {
    font-size: 68px;
}
