@font-face {
    font-family: 'Press Start 2P';
    src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 12px;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

.spacer {
    margin: 48px;
}

.website-title {
    text-align: center;
    line-height: 72px;
    font-size: 32px;
}

.robot-container {
    text-align: center;
    border: dashed 8px;
    padding: 84px;
    margin: 0 15% 0 15%;
}

.button {
    background-color: #ef54cf;
    border: dashed 3px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #9149ec;
}

.button:active {
    position: relative;
    top: 1px;
}

.focus-button {
    padding: 12px;
    margin-top: 14px;
    font-size: 20px;
}

.add-button {
    padding: 4px;
    font-size: 12px;
}

.robot-character {
    font-size: 68px;
}
